header{text-align: center; }

#logo { text-align: center;}

#logo img {width: 20%;}

#claim{ text-align: center;}

#claim{color:rgb(22, 117, 117);}

#claim {border-top: 2px solid orange; }

#claim{background-color:rgb(255, 243, 231) ;}

#titolo{text-align: center;}

#primoParagrafo{text-align: center;}

#focaccia{text-align: center;}

#focaccia img{width: 100%;}

#focaccia blockquote {color: grey;}


#primoLink {border-left: 2px solid orange;}

#primoLink p:nth-child(1) {color:red;}

section {width:50vw; margin: 0 auto;}

a{color:rgb(22, 117, 117); }

